<div class="row ">
        <div class="col-xl-3 text-xs-center">
            <div class="card card-default">
                <div class="card-block">
                    <img [src]="hotel.previewImg" class="preview detail">
                </div>
            </div>
        </div>
        <div class="col-xl-6 detail">
            <div class="card card-default">
                <div class="card-block">
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title" ><a class="clickable" (click)="viewHotel()">{{hotel.name}}</a></h4>
                        <p><small class="text-muted"><i class="fa fa-map-marker"></i> {{hotel.location}}</small>
                        </p>
                      </div>
                      <div class="timeline-body">
                        <span class="label label-success">Free</span> <i class="fa fa-wifi"></i>
                         <div class="row">
                            <div class="col-xs-3">
                                <small><i class="fa fa-cutlery"></i> {{hotel.mealType}}</small>
                            </div>
                            <div class="col-xs-9 text-xs-left">
                                <small><i class="fa fa-hotel"></i> {{hotel.roomType}}</small>
                            </div>
                        </div>
                       <p class="text-success">
                             <small>
                                <i class="fa fa-lock"></i> You can cancel later. So lock in this great price today.
                            </small>
                          </p>
                       
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card card-default">
                <div class="card-block">
                    <div class="row">
                      <div class="col-xs-9 text-xs-right">
                          <small>From</small>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-9 text-xs-right">
                          LKR {{hotel.pricePerNight}}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-9 text-xs-right">
                          <p class="text-success">
                             <small>
                                Free cancellation
                            </small>
                          </p>
                      </div>
                  </div>

                   <div class="row">
                      <div class="col-xs-9 text-xs-right">
                          <button class="btn btn-primary" type="button">Select room</button>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-xs-9 text-xs-right">
                          <p class="text-success">
                             <small>
                               Price per night
                            </small>
                          </p>
                      </div>
                  </div>

                </div>
            </div>
        </div>
    </div>